html {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #aaabad;
}

*, *::before, *::after{
    box-sizing: inherit;
}

.title{
    font-size: 45px;
    font-weight: bolder;
    font-family:Arial, Helvetica, sans-serif;
    color: rgba(55, 55, 235, 0.806);
}

.button{
    background-color: rgb(138, 43, 226);
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    color: gold;
}

.button:hover{
    transform: scale(1.1);
    box-shadow: 3px 5px 5px rgb(177, 177, 177);
    background-color: rgb(138, 43, 226, 0.7);
}

.grid{
    width: 37.5px;
    height: 37.5px;
    background-color: white;
}

.gridHover{
    background-color: blueviolet;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    box-shadow: 5px 10px 10px #888888;
    
}